name: C/C++ CI

on: [push]


jobs:
  test:

    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v1
      - name: cmake
        run: mkdir build; cd build ; cmake  ..
      - name: make
        run: cd build; make
