name: C/C++ CI

on: [push]

jobs:
  test:
    name: Building ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest,macOS-latest,windows-latest]

    steps:
      - uses: actions/checkout@v1
      - name: cmake macos
        if: matrix.os == 'macOS-latest' 
        run: brew install libomp && mkdir build && cd build && cmake .. -DOpenMP_C_LIB_NAMES="omp" -DOpenMP_CXX_FLAGS="-Xpreprocessor -fopenmp -I/usr/local/opt/libomp/include" -DOpenMP_CXX_LIB_NAMES="omp" -DOpenMP_omp_LIBRARY=/usr/local/opt/libomp/lib/libomp.dylib -DOpenMP_C_FLAGS="-Xpreprocessor -fopenmp -I/usr/local/opt/libomp/include"
      - name: cmake win
        if: matrix.os == 'windows-latest' 
        run: cmake -G Visual Studio 15 2017
      - name: cmake linux
        if: matrix.os == 'ubuntu-latest' 
        run: mkdir build; cd build ; cmake  ..
      - name: make win
        if: matrix.os == 'windows-latest' 
        run: msbuild INSTALL.vcxproj
      - name: make (linux/macos)
        if: matrix.os != 'windows-latest'
        run: cd build; make
